<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714271262674-1j3m45nr1r2fociu7b4v2deal3brreq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714271262674-1j3m45nr1r2fociu7b4v2deal3brreq2</string>
	<key>API_KEY</key>
	<string>AIzaSyCLiHCGAG-L5QJuyItncA3vVPOVvWaB6H4</string>
	<key>GCM_SENDER_ID</key>
	<string>714271262674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>webapp-6f142</string>
	<key>STORAGE_BUCKET</key>
	<string>webapp-6f142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714271262674:ios:a63e0060b94b7b4c19aa0b</string>
</dict>
</plist>